In [30]:
import pandas as pd
import yfinance as yf

## Extract index data

In [31]:
start_date = '2015-01-01'
end_date = '2022-12-31'
ticker = 'AAPL'
data1 = yf.download(ticker, start_date, end_date)

[*********************100%***********************]  1 of 1 completed

In [32]:
data1

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2015-01-02,27.847500,27.860001,26.837500,27.332500,24.565701,212818400
2015-01-05,27.072500,27.162500,26.352501,26.562500,23.873640,257142000
2015-01-06,26.635000,26.857500,26.157499,26.565001,23.875889,263188400
2015-01-07,26.799999,27.049999,26.674999,26.937500,24.210684,160423600
2015-01-08,27.307501,28.037500,27.174999,27.972500,25.140913,237458000
...,...,...,...,...,...,...
2022-12-23,130.919998,132.419998,129.639999,131.860001,131.658981,63814900
2022-12-27,131.380005,131.410004,128.720001,130.029999,129.831772,69007800
2022-12-28,129.669998,131.029999,125.870003,126.040001,125.847855,85438400
2022-12-29,127.989998,130.479996,127.730003,129.610001,129.412415,75703700
2022-12-30,128.410004,129.949997,127.430000,129.929993,129.731918,77034200

In [33]:
data.to_csv('extract_AAPL.csv', index = True)

In [34]:
data = pd.read_csv(r'C:\Users\PC\Downloads\Data Science\project\extract_AAPL.csv')
data

,Date,Open,High,Low,Close,Adj Close,Volume
0,2015-01-02,27.847500,27.860001,26.837500,27.332500,24.565697,212818400
1,2015-01-05,27.072500,27.162500,26.352501,26.562500,23.873638,257142000
2,2015-01-06,26.635000,26.857500,26.157499,26.565001,23.875887,263188400
3,2015-01-07,26.799999,27.049999,26.674999,26.937500,24.210676,160423600
4,2015-01-08,27.307501,28.037500,27.174999,27.972500,25.140915,237458000
...,...,...,...,...,...,...,...
2009,2022-12-23,130.919998,132.419998,129.639999,131.860001,131.658981,63814900
2010,2022-12-27,131.380005,131.410004,128.720001,130.029999,129.831772,69007800
2011,2022-12-28,129.669998,131.029999,125.870003,126.040001,125.847855,85438400
2012,2022-12-29,127.989998,130.479996,127.730003,129.610001,129.412415,75703700
2013,2022-12-30,128.410004,129.949997,127.430000,129.929993,129.731918,77034200